$bg-color: red;
$w:100px;

@mixin main-font {
    color: rgb(0, 255, 255);
    font-size: 20px;
    line-height: 28px;
}

@mixin paddings($value, $border-color:black) {
    border: 1px solid $border-color;
    padding-top: $value*2;
    padding-bottom: $value*3;
    padding-left: $value;
    padding-right: $value;
}

body {
    background-color: $bg-color;
}
.block {
    width: $w + 200px;
    margin: $w / 2;
    padding: $w - 50px;
    border: $w*0.1 solid greenyellow;
    background-color: adjust-color(rgb(255, 157, 250), $blue:100%);

    img {
        width: 100% - 5%;
    }
    p {
        color: adjust-color(greenyellow, $lightness: 30%);
        .bold {
            font-weight: bold;
        }
        &:last-child {
            font-style: italic;
        }   
    }
}

p {
    @include main-font;
    @include paddings(20px, green);
}